<div class="banner">

  <div class="" style="box-sizing:border-box;
-moz-box-sizing:border-box;margin-left:25px; width: 60%; display: inline-block;">
    <h1 style="font-size:60px; margin:0px;">Showcase</h1>
    <h6 style="font-size:30px; margin:0px;">Increase your online presence, showcase your menu of items to connect with more customers.</h6>
    <br/>
  </div>

  <div class="" style="box-sizing:border-box;
-moz-box-sizing:border-box;width: 40%; float: right;">
  <img src="/images/Shopify-logo.jpg" style="width:300px;height:auto;">
  </div>
  <button class="pure-button pure-button-primary" style="margin-left:25px; float:left;" id="home">Home</button>
</div>

<% if @items %>
	<% @items.each do |k, v| %>
		<div class="img">
	 		<%= 
	 			"<a href=\"/itm/#{k}\"><img src=\"/images/#{k}\" width=\"300\" height=\"300\"></a>"
	 		%>
	 	<%= "<div class=\"desc\">#{@items[k]}</div>" %>
		</div>
	<% end %>
<% end %>