<h3 style="margin-left:25px">Signup here!</h3>

<div style="margin-left:25px">
<% if @error %>
  <% @error.each do |e| %>
  <%= "<li>#{e}</li>" %>
  <% end %>
  <br/>
<% end %>
</div>

<hr style="width:17%; margin-left:25px;">
<div style="margin-left:25px;">
<form class="pure-form pure-form-stacked" method="post" action="/user/signup/">
<fieldset>
	<label > Login</label>
	<input id="login" name="login" maxlength="40" placeholder="Login username" type="text"/>
	<br>
	<label>Name</label>
	<input name="name" maxlength="40" placeholder="Name" type="text"/>
	<br>
	<label>Password</label>
	<input name="pwd" maxlength="100" placeholder="Enter a Password ..." type="password"/> 
	<br>
	<label>Email</label>
	<input style="text-transform: lowercase;" id="email" name="email" maxlength="40" 
	placeholder="Email" type="text"/>
	<br/>
	<label for="remember" class="pure-checkbox">
        <input name="isSeller" value="true" type="checkbox"> <b>Seller/Store</b> Account?
    </label>

	<input class="pure-button pure-button-primary" type="submit" value="Signup" name="submit">
</fieldset>
</form>
</div>